@model BankManagementSystem_WEB.ViewModels.TransactionViewModel

@using (Html.BeginForm("Deposit", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.AccountId)

    <div class="form-group">
        @Html.LabelFor(model => model.Amount)
        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <input type="submit" value="Deposit" class="btn btn-primary" />
    </div>
}
